<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="SetupProject1" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="NuProj" 
           UpgradeCode="1f04b5e7-f709-4880-88c7-ef9bf13e5f14">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SetupProject1" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="NuSign">
          <Directory Id="INSTALLFOLDER" Name="SetupProject1">
            <Directory Id="ConsoleApplication1.Binaries" />
            <Directory Id="ConsoleApplication1.Satellites" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="ConsoleApplication1.Binaries" />
      <ComponentGroupRef Id="ConsoleApplication1.Satellites" />
    </ComponentGroup>
  </Fragment>
</Wix>